---
import Hero from '../components/HeroSection.astro';
import ImpactVideoSection from '../components/ImpactVideoSection.astro';
import IssuesSection from '../components/IssuesSection.astro'
import KeyInternalSection from '../components/KeyInternalSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mama Cash">
	<main class="min-h-svh">
		<!-- Sections -->
		<Hero />
		<KeyInternalSection></KeyInternalSection>
		<ImpactVideoSection />
		<IssuesSection />
	</main>
</Layout>
