---
import Hero from "../components/HeroSection.astro";
import ImpactVideoSection from "../components/ImpactVideoSection.astro";
import IssuesSection from "../components/IssuesSection.astro";
import KeyInternalSection from "../components/KeyInternalSection.astro";
import MapSection from "../components/MapSection.astro";
import ReportSection from "../components/ReportSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mama Cash">
  <main class="min-h-svh">
    <!-- Sections -->
    <Hero />
    <ReportSection />
    <IssuesSection />
    <MapSection />

    <ImpactVideoSection />

    <KeyInternalSection />
  </main>
</Layout>
