---
import Hero from '../components/HeroSection.astro';
import ImpactVideoSection from '../components/ImpactVideoSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="MAMA CASH">
	<main>
		<Hero />
		<ImpactVideoSection />
	</main>
</Layout>
