---
import Hero from "../components/HeroSection.astro";
import VideoSection from "../components/VideoSection.astro";
import IssuesSection from "../components/IssuesSection.astro";
import PartnersSection from "../components/PartnersSection.astro";
import KeyInternalSection from "../components/KeyInternalSection.astro";
import MapSection from "../components/MapSection.astro";
import ReportSection from "../components/ReportSection.astro";
import Layout from "../layouts/Layout.astro";
import TestimonialSection from "../components/TestimonialSection.astro";
import HeroSection from "../components/HeroSection.astro";
import GrantsSection from "../components/GrantsSection.astro";
import QuoteSection from "../components/QuoteSection.astro";
import InternationalFundingSection1 from "../components/InternationalFundingSection1.astro";
import InternationalFundingSection2 from "../components/InternationalFundingSection2.astro";
import TestimoniesSection from "../components/TestimoniesSection.astro";
import Testimony1 from "../components/Testimony1.astro";
import Testimony2 from "../components/Testimony2.astro";
---

<Layout title="Mama Cash">
  <main class="min-h-svh">
    <!-- <svg
      class="absolute top-[85%]"
      viewBox="0 0 1728 2614"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M608.306 3.90745C609.36 3.57532 609.945 2.45209 609.613 1.39864C609.28 0.345181 608.157 -0.239573 607.104 0.0925511L608.306 3.90745ZM-207.295 605.5L-209.128 606.3L-207.295 605.5ZM1856.5 1186L1854.75 1186.96L1856.5 1186ZM212.333 2603C212.333 2608.89 217.109 2613.67 223 2613.67C228.891 2613.67 233.667 2608.89 233.667 2603C233.667 2597.11 228.891 2592.33 223 2592.33C217.109 2592.33 212.333 2597.11 212.333 2603ZM607.104 0.0925511C505.684 32.0674 391.82 57.6053 280.967 85.0037C170.18 112.386 62.4164 141.624 -26.5421 180.984C-115.472 220.331 -185.926 269.927 -221.715 338.22C-257.561 406.619 -258.409 493.319 -209.128 606.3L-205.462 604.7C-254.432 492.431 -253.28 407.068 -218.172 340.077C-183.009 272.979 -113.556 223.857 -24.9236 184.641C63.6807 145.439 171.136 116.27 281.927 88.8869C392.653 61.5197 506.727 35.9326 608.306 3.90745L607.104 0.0925511ZM-209.128 606.3C-189.81 650.587 -145.583 687.583 -83.1363 719.138C-20.6457 750.716 60.3829 776.993 153.755 799.685C340.5 845.069 577.025 876.204 814.247 906.586C1051.53 936.975 1289.52 966.61 1479.39 1008.99C1574.33 1030.18 1657.14 1054.53 1721.78 1083.71C1786.47 1112.92 1832.66 1146.84 1854.75 1186.96L1858.25 1185.04C1835.53 1143.76 1788.37 1109.39 1723.42 1080.07C1658.42 1050.72 1575.31 1026.3 1480.26 1005.08C1290.17 962.657 1051.97 932.998 814.755 902.618C577.477 872.23 341.186 841.12 154.699 795.798C61.4549 773.138 -19.2365 746.947 -81.3323 715.568C-143.472 684.168 -186.698 647.719 -205.462 604.7L-209.128 606.3ZM1854.75 1186.96C1878.47 1230.05 1883.39 1272.98 1870.21 1313.16C1857.01 1353.39 1825.59 1391.12 1776.14 1423.58C1677.2 1488.52 1506.58 1532 1268 1532V1536C1506.92 1536 1678.45 1492.48 1778.33 1426.92C1828.29 1394.13 1860.45 1355.74 1874.01 1314.4C1887.58 1273.02 1882.43 1228.95 1858.25 1185.04L1854.75 1186.96ZM1268 1532C1208.35 1532 1129.03 1529.14 1038.09 1526.58C947.174 1524.02 844.689 1521.77 738.79 1522.97C527.038 1525.38 301.443 1541.62 127.268 1597.09C-46.8541 1652.55 -170.357 1747.49 -176.249 1907.71C-179.189 1987.65 -152.805 2083.57 -89.2072 2198.57C-25.6044 2313.58 75.285 2447.79 221.538 2604.37L224.462 2601.63C78.34 2445.21 -22.3175 2311.26 -85.7068 2196.64C-149.102 2082 -175.155 1986.82 -172.251 1907.85C-166.456 1750.26 -45.1459 1656.2 128.482 1600.91C302.057 1545.63 527.149 1529.37 738.835 1526.97C844.654 1525.77 947.076 1528.02 1037.98 1530.58C1128.86 1533.14 1208.28 1536 1268 1536V1532Z"
        fill="#E91E78"></path>
    </svg> -->

    <HeroSection />
    <GrantsSection />
    <InternationalFundingSection1 />
    <TestimoniesSection />
    <Testimony1 />
    <!-- <VideoSection /> -->
    <!-- <QuoteSection /> -->

    <div class="isolate">
      <InternationalFundingSection2 />
      <Testimony2 />
    </div>

    <!-- Sections -->
    <!-- <Hero />
    <ReportSection />
    <IssuesSection />
    <PartnersSection />
    <TestimonialSection />
    <MapSection />

    <ImpactVideoSection />

    <KeyInternalSection /> -->
  </main>
</Layout>
<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  document.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(ScrollTrigger);
    ScrollTrigger.refresh();
  });
</script>
