---
import ArrowSVG from "./ArrowSVG.astro";
---

<section
  class="mx-5 mt-10 flex max-w-5xl flex-col items-center rounded-xl bg-[#FDB813] p-10 lg:mx-auto lg:flex-row lg:p-6"
>
  <h2 class="text-center text-2xl font-medium text-[#141392] lg:text-left">
    Make history by being part of Mama Cash's future
  </h2>
  <a
    onclick={`return gtag_report_conversion('https://www.mamacash.org/en/en-homepage?form=change-that-lasts', 'qqgkCJyckMoZEM3yi-I9');`}
    href="https://www.mamacash.org/en/en-homepage?form=change-that-lasts"
    target="_blank"
    class="mt-10 flex items-center gap-2 rounded-full bg-[#141392] p-1 pl-4 text-sm text-white lg:ml-auto lg:mt-0"
    >Donate Here <ArrowSVG />
  </a>
</section>
