---
import { Image } from "astro:assets";
import Bg from "../assets/grants/bg.png";
import Mask1 from "../assets/grants/mask1.png";
import Mask2 from "../assets/grants/mask2.png";
import Hands from "../assets/grants/hands.png";
import Counter from "./client/Counter";
import ArrowSVG from "./ArrowSVG.astro";
---

<section id="grants-section" class="relative mt-20">
    <svg
        class="absolute top-[-145px] hidden lg:block"
        viewBox="0 0 1728 363"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <circle cx="864.5" cy="174.5" r="19.5" fill="#E91E78"></circle>
        <path
            d="M608.306 -732.093C609.36 -732.425 609.945 -733.548 609.613 -734.601C609.28 -735.655 608.157 -736.24 607.104 -735.907L608.306 -732.093ZM-207.295 -130.5L-209.128 -129.7L-207.295 -130.5ZM1856.5 450L1854.75 450.965L1856.5 450ZM212.333 1867C212.333 1872.89 217.109 1877.67 223 1877.67C228.891 1877.67 233.667 1872.89 233.667 1867C233.667 1861.11 228.891 1856.33 223 1856.33C217.109 1856.33 212.333 1861.11 212.333 1867ZM607.104 -735.907C505.684 -703.933 391.82 -678.395 280.967 -650.996C170.18 -623.614 62.4164 -594.376 -26.5421 -555.016C-115.472 -515.669 -185.926 -466.073 -221.715 -397.78C-257.561 -329.381 -258.409 -242.681 -209.128 -129.7L-205.462 -131.3C-254.432 -243.569 -253.28 -328.932 -218.172 -395.923C-183.009 -463.021 -113.556 -512.143 -24.9236 -551.359C63.6807 -590.561 171.136 -619.73 281.927 -647.113C392.653 -674.48 506.727 -700.067 608.306 -732.093L607.104 -735.907ZM-209.128 -129.7C-189.81 -85.4125 -145.583 -48.4174 -83.1363 -16.8616C-20.6457 14.7163 60.3829 40.9934 153.755 63.6853C340.5 109.069 577.025 140.204 814.247 170.586C1051.53 200.975 1289.52 230.61 1479.39 272.988C1574.33 294.176 1657.14 318.531 1721.78 347.715C1786.47 376.923 1832.66 410.837 1854.75 450.965L1858.25 449.035C1835.53 407.758 1788.37 373.391 1723.42 344.069C1658.42 314.723 1575.31 290.297 1480.26 269.084C1290.17 226.657 1051.97 196.998 814.755 166.618C577.477 136.23 341.186 105.12 154.699 59.7984C61.4549 37.1375 -19.2365 10.9467 -81.3323 -20.4316C-143.472 -51.832 -186.698 -88.2814 -205.462 -131.3L-209.128 -129.7ZM1854.75 450.965C1878.47 494.049 1883.39 536.975 1870.21 577.158C1857.01 617.386 1825.59 655.12 1776.14 687.578C1677.2 752.519 1506.58 796 1268 796V800C1506.92 800 1678.45 756.481 1778.33 690.922C1828.29 658.13 1860.45 619.739 1874.01 578.405C1887.58 537.025 1882.43 492.951 1858.25 449.035L1854.75 450.965ZM1268 796C1208.35 796 1129.03 793.142 1038.09 790.583C947.174 788.024 844.689 785.765 738.79 786.969C527.038 789.375 301.443 805.624 127.268 861.094C-46.8541 916.548 -170.357 1011.49 -176.249 1171.71C-179.189 1251.65 -152.805 1347.57 -89.2072 1462.57C-25.6044 1577.58 75.285 1711.79 221.538 1868.37L224.462 1865.63C78.34 1709.21 -22.3175 1575.26 -85.7068 1460.64C-149.102 1346 -175.155 1250.82 -172.251 1171.85C-166.456 1014.26 -45.1459 920.202 128.482 864.906C302.057 809.626 527.149 793.375 738.835 790.969C844.654 789.766 947.076 792.023 1037.98 794.581C1128.86 797.139 1208.28 800 1268 800V796Z"
            fill="#E91E78"></path>
    </svg>

    <svg
        class="absolute bottom-[130px] hidden lg:block"
        viewBox="0 0 1728 232"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M608.306 -1429.09C609.36 -1429.42 609.945 -1430.55 609.613 -1431.6C609.28 -1432.65 608.157 -1433.24 607.104 -1432.91L608.306 -1429.09ZM-207.295 -827.5L-209.128 -826.7L-207.295 -827.5ZM1856.5 -247L1854.75 -246.035L1856.5 -247ZM212.333 1170C212.333 1175.89 217.109 1180.67 223 1180.67C228.891 1180.67 233.667 1175.89 233.667 1170C233.667 1164.11 228.891 1159.33 223 1159.33C217.109 1159.33 212.333 1164.11 212.333 1170ZM607.104 -1432.91C505.684 -1400.93 391.82 -1375.39 280.967 -1348C170.18 -1320.61 62.4164 -1291.38 -26.5421 -1252.02C-115.472 -1212.67 -185.926 -1163.07 -221.715 -1094.78C-257.561 -1026.38 -258.409 -939.681 -209.128 -826.7L-205.462 -828.3C-254.432 -940.569 -253.28 -1025.93 -218.172 -1092.92C-183.009 -1160.02 -113.556 -1209.14 -24.9236 -1248.36C63.6807 -1287.56 171.136 -1316.73 281.927 -1344.11C392.653 -1371.48 506.727 -1397.07 608.306 -1429.09L607.104 -1432.91ZM-209.128 -826.7C-189.81 -782.413 -145.583 -745.417 -83.1363 -713.862C-20.6457 -682.284 60.3829 -656.007 153.755 -633.315C340.5 -587.931 577.025 -556.796 814.247 -526.414C1051.53 -496.025 1289.52 -466.39 1479.39 -424.012C1574.33 -402.824 1657.14 -378.469 1721.78 -349.285C1786.47 -320.077 1832.66 -286.163 1854.75 -246.035L1858.25 -247.965C1835.53 -289.242 1788.37 -323.609 1723.42 -352.931C1658.42 -382.277 1575.31 -406.703 1480.26 -427.916C1290.17 -470.343 1051.97 -500.002 814.755 -530.382C577.477 -560.77 341.186 -591.88 154.699 -637.202C61.4549 -659.862 -19.2365 -686.053 -81.3323 -717.432C-143.472 -748.832 -186.698 -785.281 -205.462 -828.3L-209.128 -826.7ZM1854.75 -246.035C1878.47 -202.951 1883.39 -160.025 1870.21 -119.842C1857.01 -79.6143 1825.59 -41.8802 1776.14 -9.422C1677.2 55.5194 1506.58 99 1268 99V103C1506.92 103 1678.45 59.4806 1778.33 -6.078C1828.29 -38.8698 1860.45 -77.2607 1874.01 -118.595C1887.58 -159.975 1882.43 -204.049 1858.25 -247.965L1854.75 -246.035ZM1268 99C1208.35 99 1129.03 96.1422 1038.09 93.5828C947.174 91.024 844.689 88.7653 738.79 89.9689C527.038 92.3755 301.443 108.624 127.268 164.094C-46.8541 219.548 -170.357 314.495 -176.249 474.708C-179.189 554.652 -152.805 650.574 -89.2072 765.573C-25.6044 880.583 75.285 1014.79 221.538 1171.37L224.462 1168.63C78.34 1012.21 -22.3175 878.261 -85.7068 763.637C-149.102 649.004 -175.155 553.816 -172.251 474.855C-166.456 317.255 -45.1459 223.202 128.482 167.906C302.057 112.626 527.149 96.3745 738.835 93.9686C844.654 92.766 947.076 95.0228 1037.98 97.5813C1128.86 100.139 1208.28 103 1268 103V99Z"
            fill="#E91E78"></path>
    </svg>

    <Image
        src={Bg}
        alt=""
        class="absolute left-0 top-0 h-full w-full object-cover"
    />
    <div
        class="container relative mx-auto flex max-w-5xl flex-col items-center px-10 py-20 lg:px-0"
    >
        <div
            class="absolute right-0 top-[-70px] hidden h-32 w-32 rounded-full bg-[#FDB813] lg:block"
        >
            <Image src={Hands} alt="" class="absolute" />
        </div>
        <h3 class="font-display text-5xl font-bold text-[#141392] lg:text-8xl">
            140 million
        </h3>
        <span
            class="font-display mt-5 text-center text-xl uppercase text-[#E91E78]"
        >
            provided to feminist movements <br /> around the world</span
        >
        <div class="grid items-start lg:grid-cols-[1fr_200px_1fr]">
            <div class="flex justify-center lg:hidden">
                <a
                    class="mt-10 flex items-center gap-3 rounded-3xl bg-[#141392] p-[4px] pl-4 text-sm text-white"
                >
                    More data
                    <ArrowSVG />
                </a>
            </div>
            <div
                class="relative mx-auto mt-16 flex h-60 w-60 items-center justify-center overflow-hidden rounded-full bg-[#E91E78] text-white lg:h-80 lg:w-80"
            >
                <Image
                    src={Mask1}
                    alt=""
                    class="absolute left-0 top-0 h-full w-full"
                />
                <h3
                    class="relative flex flex-col items-center text-6xl font-bold lg:text-8xl"
                >
                    <Counter trigger="#grants-section" client:load>160</Counter>
                    <small class="mt-2 text-xl font-normal uppercase"
                        >countries</small
                    >
                </h3>
            </div>
            <div class="hidden justify-center lg:flex">
                <a
                    target="_blank"
                    href="/infografia-f.pdf"
                    class="mt-10 flex items-center gap-3 rounded-3xl bg-[#141392] p-[4px] pl-4 text-sm text-white"
                >
                    More data
                    <ArrowSVG />
                </a>
            </div>
            <div
                class="relative mx-auto mt-16 flex h-60 w-60 items-center justify-center overflow-hidden rounded-full bg-[#1FAAAC] text-white lg:h-80 lg:w-80"
            >
                <Image
                    src={Mask2}
                    alt=""
                    class="absolute left-0 top-0 h-full w-full"
                />
                <h3
                    class="relative flex flex-col items-center text-6xl font-bold lg:text-8xl"
                >
                    <Counter trigger="#grants-section" client:load>7460</Counter
                    >
                    <small class="mt-2 text-xl font-normal uppercase"
                        >direct grants</small
                    >
                </h3>
            </div>
        </div>
    </div>
</section>
