---
import { Image } from "astro:assets";
import Bg from "../assets/grants/bg.png";
---

<section id="grants-section" class="relative mt-20">
    <!-- <Image src={Bg} alt="" class="absolute left-0 top-0" /> -->
    <div class="container mx-auto flex max-w-5xl flex-col items-center py-20">
        <h3 class="font-display text-7xl font-bold text-[#141392]">
            +140 million
        </h3>
        <span class="mt-5 font-display text-xl uppercase text-[#E91E78]">
            provided to feminist movements around the world</span
        >
        <a class="mt-10 rounded-3xl bg-[#141392] px-5 py-2 text-sm text-white">
            More data
        </a>
    </div>
</section>
