---

---

<header class="fixed w-full">
    <div class="flex items-center justify-between max-w-5xl mx-auto py-4">
        <a href="#" class="border border-black px-3">Logo</a>
        <a href="#" class="border border-black px-3">Donate</a>
    </div>
</header>
