---
import { Image } from "astro:assets";
import Logo from "../assets/logo.svg";
import Woman1 from "../assets/woman1.png";
import Woman2 from "../assets/woman2.png";
import Counter from "./client/Counter";
---

<section id="hero-section" class="relative flex min-h-svh flex-col">
  <div class="hero-bg absolute left-0 top-0 z-[-1] h-full w-full bg-[#FDB813]">
  </div>
  <div class="mx-auto flex w-full max-w-5xl items-center px-5 pb-16 pt-10">
    <div class="mb-5 flex items-center">
      <a href="/" class="">
        <img alt="Logo" src={Logo.src} class="w-[120px]" /></a
      >
    </div>
    <!-- <a href="/" class="py-2 ml-auto text-xl font-bold uppercase px-7">Donate</a> -->
    <button
      class="ml-auto rounded-3xl bg-[#E91E78] px-8 py-3 font-body text-xs font-semibold uppercase text-white"
      >Donate</button
    >
  </div>
  <div class="flex w-full flex-col items-center justify-center">
    <div class="grid grid-cols-2 gap-3">
      <h1
        data-animate-words="Love,Justice,Change"
        id="animated-heading"
        class="bg-[#E91E78] px-3 text-right font-display text-8xl font-extrabold uppercase text-white"
      >
        Change
      </h1>

      <span class="px-1 font-display text-8xl font-bold text-[#141392]"
        >that lasts</span
      >
    </div>
    <span
      class="mt-4 font-display text-2xl font-semibold uppercase text-[#141392]"
      >40 years of impact</span
    >
  </div>
  <div class="mx-auto mt-auto w-full max-w-5xl">
    <div
      id="woman2"
      class="relative mb-5 rounded-xl bg-cover bg-center bg-no-repeat pb-8 pt-10"
      style={`background-image: url(${Woman2.src});`}
    >
      <Image
        id="woman1"
        src={Woman1}
        alt="woman"
        class="absolute bottom-0 right-0 z-[0] w-[80%] object-cover"
      />
      <div class="relative z-10 mt-10 flex items-center justify-center gap-24">
        <div class="flex flex-col items-center">
          <!-- <span class="font-display text-6xl font-extrabold text-white"
            >+€140m
          </span> -->
          <Counter append="+€" prepend="m" client:load>140</Counter>
          <small class="font-medium uppercase text-white"
            >million in funding</small
          >
        </div>
        <div class="flex flex-col items-center">
          <!-- <span class="font-display text-6xl font-extrabold text-white"
            >+160</span
          > -->
          <Counter append="+" prepend="" client:load>160</Counter>
          <small class="font-medium uppercase text-white">countries</small>
        </div>
        <div class="flex flex-col items-center">
          <!-- <span class="font-display text-6xl font-extrabold text-white"
            >+7,460</span
          > -->
          <Counter append="+" prepend="" client:load>7460</Counter>
          <small class="font-medium uppercase text-white">grants</small>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .hero-bg {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);
  }
</style>

<script>
  import { gsap } from "gsap";
  import { TextPlugin } from "gsap/TextPlugin";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(TextPlugin, ScrollTrigger);

  let animText = document.getElementById("animated-heading");
  let words: string[] = animText.dataset.animateWords?.split(",");

  let timeline = gsap.timeline({
    repeat: -1,
    repeatDelay: 1,
    // smoothChildTiming: true,
    // yoyo: true,
  });

  for (const word of words) {
    timeline.to(animText, {
      duration: 1.5,
      text: {
        value: word,
        delimiter: "",
        padSpace: false,
        type: "diff",
        preserveSpaces: true,
        rtl: true,
        // speed: 0.2,
      },
      ease: "sine",
    });
  }

  let heroSection = document.getElementById("hero-section");
  // let womanImg = document.getElementById("woman1");
  let womanBg = document.getElementById("woman2");

  gsap.to(womanBg, {
    scrollTrigger: {
      trigger: heroSection,
      start: "top top",
      end: "bottom top",
      // markers: true,
      scrub: true,
    },
    backgroundPositionY: 1,
    ease: "none",
  });

  // gsap.to(womanImg, {
  //   scrollTrigger: {
  //     trigger: heroSection,
  //     start: "top top",
  //     end: "+=500",
  //     markers: true,
  //     scrub: 1,
  //   },
  //   yPercent: 10,
  // });
</script>
