---

---

<section
  class="bg-[#E91E78] pt-28 pb-28 container max-w-screen-[1620px] px-16 rounded-3xl mx-auto text-white"
>
  <article class="max-w-[1346px] mx-auto">
    <h1
      class="font-display max-w-[40ch] font-medium text-[55px] leading-tight mb-9"
    >
      Impact beyond the numbers: we have driven sustainable feminist social
      change while holding the line and combating setbacks.
    </h1>

    <p class="text-xl max-w-[90ch] mb-36">
      Our 40 years of impact report “Change that lasts”, shines a light on how
      feminist movements worldwide leveraged funding and accompaniment from Mama
      Cash to change narratives, shift norms, secure rights, end impunity,
      increase inclusion, expand access, and bring about joy, healing, love, and
      liberation
    </p>

    <div class="relative max-w-full aspect-video">
      <div
        class="absolute w-[63%] aspect-[100/64] -top-[5.3%] -right-[3%] overflow-hidden rounded-tr-2xl"
      >
        <img
          src="../../public/morphed-bg.png"
          class="h-full w-full object-cover object-[0%_5.5%] scale-[2.3] -translate-x-[30%]"
          alt=""
        />
      </div>

      <div
        class="absolute w-[63%] aspect-[100/64] -bottom-[5.3%] -left-[3%] overflow-hidden rounded-bl-2xl"
      >
        <img
          src="../../public/morphed-bg.png"
          class="h-full w-full object-cover object-[0%_6%] scale-[2.3] -translate-x-[30%]"
          alt=""
        />
      </div>

      <div class="absolute bg-[#750F3C] rounded-3xl w-full h-full"></div>
    </div>
  </article>
</section>
