---

---

<section
  class="max-w-5xl container mx-auto rounded-3xl bg-[#E91E78] px-16 pb-28 pt-28 text-white"
>
  <article class="mx-auto max-w-[1346px]">
    <h1
      class="mb-9 max-w-[40ch] font-display text-[55px] font-medium leading-tight"
    >
      Impact beyond the numbers: we have driven sustainable feminist social
      change while holding the line and combating setbacks.
    </h1>

    <p class="mb-36 max-w-[90ch] text-xl">
      Our 40 years of impact report “Change that lasts”, shines a light on how
      feminist movements worldwide leveraged funding and accompaniment from Mama
      Cash to change narratives, shift norms, secure rights, end impunity,
      increase inclusion, expand access, and bring about joy, healing, love, and
      liberation
    </p>

    <div class="relative max-w-full aspect-video">
      <div
        class="absolute -right-[3%] -top-[5.3%] aspect-[100/64] w-[63%] overflow-hidden rounded-tr-2xl"
      >
        <img
          src="../../public/morphed-bg.png"
          class="h-full w-full -translate-x-[30%] scale-[2.3] object-cover object-[0%_5.5%]"
          alt=""
        />
      </div>

      <div
        class="absolute -bottom-[5.3%] -left-[3%] aspect-[100/64] w-[63%] overflow-hidden rounded-bl-2xl"
      >
        <img
          src="../../public/morphed-bg.png"
          class="h-full w-full -translate-x-[30%] scale-[2.3] object-cover object-[0%_6%]"
          alt=""
        />
      </div>

      <div class="absolute h-full w-full rounded-3xl bg-[#750F3C]"></div>
    </div>
  </article>
</section>
