---

---

<section
  class="container mx-auto max-w-5xl rounded-3xl bg-[#E91E78] px-16 pb-14 pt-14 text-white"
>
  <article class="mx-auto max-w-[1346px]">
    <h1
      class="mb-14 max-w-[40ch] font-display text-3xl font-medium leading-tight"
    >
      We have driven sustainable feminist social change while holding the line
      and combating setbacks.
    </h1>

    <div class="relative aspect-video max-w-full">
      <div
        class="absolute -right-[3%] -top-[5.3%] aspect-[100/64] w-[63%] overflow-hidden rounded-tr-2xl"
      >
        <img
          src="../../public/morphed-bg.png"
          class="h-full w-full -translate-x-[30%] scale-[2.3] object-cover object-[0%_5.5%]"
          alt=""
        />
      </div>

      <div
        class="absolute -bottom-[5.3%] -left-[3%] aspect-[100/64] w-[63%] overflow-hidden rounded-bl-2xl"
      >
        <img
          src="../../public/morphed-bg.png"
          class="h-full w-full -translate-x-[30%] scale-[2.3] object-cover object-[0%_6%]"
          alt=""
        />
      </div>

      <div class="absolute h-full w-full rounded-3xl bg-[#750F3C]"></div>
    </div>
  </article>
</section>
