---
import { t } from "i18next";

const data = [
  {
    id: 1,
    title: t("funding.1.title"),
    color: "#1FAAAC",
    text: t("funding.1.subtitle"),
  },
  {
    id: 2,
    title: t("funding.2.title"),
    color: "#FDB813",
    text: t("funding.2.subtitle"),
  },
  {
    id: 3,
    title: t("funding.3.title"),
    color: "#E91E78",
    text: t("funding.3.subtitle"),
  },
];
---

<section id="global" class="mt-10 lg:mt-20">
  <svg
    class="absolute hidden lg:block"
    viewBox="0 0 1728 786"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1867.5 -737C3419 -321 17.0027 604.5 -151.617 871.5C-252.682 1031.53 -136.734 1085.31 202.384 1237.5"
      stroke="#E91E78"
      stroke-width="4"
      stroke-linecap="round"></path>
  </svg>

  <div class="mx-auto max-w-5xl px-5 text-[#141392] lg:px-0">
    <h3
      class="title text-center text-3xl font-semibold lg:text-left lg:text-5xl"
    >
      <div class="line-h3">
        <span class="block">{t("funding.title.1")}</span>
      </div>
      <div class="line-h3">
        <span class="block">{t("funding.title.2")}</span>
      </div>
    </h3>
  </div>
  <div id="funding2">
    <div class="scroller-section">
      <div
        class="scroller-section-container mx-auto max-w-5xl px-5 pt-12 lg:px-0"
      >
        <div
          class="scroller grid gap-12 lg:w-[max-content] lg:auto-cols-auto lg:grid-flow-col"
        >
          {
            data.map((e, i) => (
              <div class="scroller-item font-display container mx-auto max-w-4xl lg:max-w-5xl">
                <div
                  style={`background: ${e.color}`}
                  class="h-full rounded-2xl p-10 lg:min-h-[70svh] lg:p-20 2xl:min-h-[60svh]"
                >
                  <div
                    class="grid gap-5 lg:grid-cols-2 lg:gap-0"
                    style={`color: ${i === data.length - 1 ? "#fafafa" : "#141392"}`}
                  >
                    <div class="mr-5 flex flex-col">
                      <h4 class="text-4xl font-black lg:text-7xl">{e.title}</h4>
                    </div>
                    <div>
                      <p class="font-light lg:text-xl">{e.text}</p>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  import gsap from "gsap";

  const wrapperRef = document.getElementById("funding2");

  const wrapper = wrapperRef.querySelector(".scroller-section") as HTMLElement;
  const container = wrapperRef.querySelector(
    ".scroller-section-container",
  ) as HTMLElement;
  const scroller = wrapperRef.querySelector(".scroller") as HTMLElement;
  const item = wrapperRef.querySelector(".scroller-item") as HTMLElement;

  let mm = gsap.matchMedia();

  mm.add("(min-width: 1024px)", () => {
    gsap.to(scroller, {
      x: -(
        scroller.offsetWidth -
        wrapper.offsetWidth +
        (window.innerWidth - item.offsetWidth)
      ),
      scrollTrigger: {
        trigger: container,
        pin: true,
        invalidateOnRefresh: true,
        start: "top 10%",
        end: "bottom top",
        // markers: true,
        scrub: true,
        // preventOverlaps: true
      },
    });
  });
</script>
