---
import IssuesNav from "./client/IssuesNav";

---

<section class="container mx-auto mb-14 max-w-5xl pt-28">
  <h1
    class="mb-3 max-w-[35ch] font-display text-3xl font-semibold leading-tight"
  >
    Mama Cash advanced policy, cultural, and social transformations, and
    responded to the world’s interlocking crises
  </h1>

  <p class="mb-8">
    From lesbian rights to climate justice, many global issues and communities
    were represented in our grantmaking. We provided more than financial
    support: we influenced how donors thought about sharing their resources, and
    how movements thought about their right to these resources.
  </p>

  <IssuesNav client:load/>
</section>
