---
import { Image } from "astro:assets";
import HorizontalScroller from "./client/HorizontalScroller";

const data = [
  {
    range: "1983-1993",
    points: [
      "Five lesbian feminist activists form Mama Cash with a ten-year loan of 2.5 million guilders (€1.125 million) from Marjan Sax. ",
      "Funds include Guarantee Fund, Culture Fund, Fund for the Global South, Feminist Art Award. ",
      "Women with Inherited Wealth Network politicised wealthy women to encourage individual giving.",
    ],
    image: "/rect.png",
  },
  {
    range: "1983-1993",
    points: [
      "Five lesbian feminist activists form Mama Cash with a ten-year loan of 2.5 million guilders (€1.125 million) from Marjan Sax. ",
      "Funds include Guarantee Fund, Culture Fund, Fund for the Global South, Feminist Art Award. ",
      "Women with Inherited Wealth Network politicised wealthy women to encourage individual giving.",
    ],
    image: "/rect.png",
  },
  {
    range: "1983-1993",
    points: [
      "Five lesbian feminist activists form Mama Cash with a ten-year loan of 2.5 million guilders (€1.125 million) from Marjan Sax. ",
      "Funds include Guarantee Fund, Culture Fund, Fund for the Global South, Feminist Art Award. ",
      "Women with Inherited Wealth Network politicised wealthy women to encourage individual giving.",
    ],
    image: "/rect.png",
  },
  {
    range: "1983-1993",
    points: [
      "Five lesbian feminist activists form Mama Cash with a ten-year loan of 2.5 million guilders (€1.125 million) from Marjan Sax. ",
      "Funds include Guarantee Fund, Culture Fund, Fund for the Global South, Feminist Art Award. ",
      "Women with Inherited Wealth Network politicised wealthy women to encourage individual giving.",
    ],
    image: "/rect.png",
  },
  {
    range: "1983-1993",
    points: [
      "Five lesbian feminist activists form Mama Cash with a ten-year loan of 2.5 million guilders (€1.125 million) from Marjan Sax. ",
      "Funds include Guarantee Fund, Culture Fund, Fund for the Global South, Feminist Art Award. ",
      "Women with Inherited Wealth Network politicised wealthy women to encourage individual giving.",
    ],
    image: "/rect.png",
  },
  {
    range: "1983-1993",
    points: [
      "Five lesbian feminist activists form Mama Cash with a ten-year loan of 2.5 million guilders (€1.125 million) from Marjan Sax. ",
      "Funds include Guarantee Fund, Culture Fund, Fund for the Global South, Feminist Art Award. ",
      "Women with Inherited Wealth Network politicised wealthy women to encourage individual giving.",
    ],
    image: "/rect.png",
  },
];
---

<section
  class="flex flex-col items-center overflow-hidden pb-12 pt-10 font-bold lg:pt-16"
>
  <HorizontalScroller client:load>
    <div class="key-section">
      <div class="key-section-container mx-auto max-w-5xl">
        <h3 class="text-center font-display text-3xl lg:text-6xl">
          Key Internal Inflection Points
        </h3>
        <div
          class="scroller mt-10 grid w-[max-content] auto-cols-auto grid-flow-col lg:mt-16"
        >
          {
            data.map((e) => (
              <div class="scroller-item w-[100vw] font-display lg:w-[400px]">
                <span class="text-2xl font-medium lg:text-3xl">{e.range}</span>
                <div class="inner">
                  <div class="circle" />
                  <ul class="ml-4 mt-5 list-disc text-xs font-normal">
                    {e.points.map((e) => (
                      <li class="mt-2 text-sm">{e}</li>
                    ))}
                  </ul>
                  <Image
                    alt="x"
                    src={e.image}
                    width={400}
                    height={300}
                    class="mt-5"
                  />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </HorizontalScroller>
</section>
<style>
  .scroller-item .inner {
    @apply relative mt-5 border-l border-t-[1rem] border-l-black border-t-[#FDB813] pl-4 pr-16;
  }
  .scroller-item .inner .circle {
    @apply absolute -left-[1rem] -top-[1.5rem] h-8 w-8 rounded-full border-[6px] border-white bg-[#E91E78];
  }
</style>
