---
import i18next from "i18next";
import { t } from "i18next";
---

<div class="absolute right-2 lg:right-[-10px] xl:right-[-50px]">
    <button id="lang_button">
        <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M21 12C21 16.9706 16.9706 21 12 21M21 12C21 7.02944 16.9706 3 12 3M21 12H3M12 21C7.02944 21 3 16.9706 3 12M12 21C13.6569 21 15 16.9706 15 12C15 7.02944 13.6569 3 12 3M12 21C10.3431 21 9 16.9706 9 12C9 7.02944 10.3431 3 12 3M3 12C3 7.02944 7.02944 3 12 3"
                stroke="#141392"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </svg>
    </button>
    <div
        data-active={false}
        id="lang_menu"
        class="absolute right-0 top-8 flex w-[100px] flex-col rounded-lg bg-white shadow-lg"
    >
        {
            i18next.languages.map((e) => (
                <a href={`/${e == "en" ? "" : e}`} class="px-4 py-1">
                    {t(e)}
                </a>
            ))
        }
    </div>
</div>
<style>
    #lang_menu {
        visibility: collapse;
    }
    #lang_menu.open {
        visibility: visible;
    }
</style>
<script>
    const button = document.getElementById("lang_button");
    const menu = document.getElementById("lang_menu");
    button.addEventListener("click", () => {
        menu.classList.toggle("open");
    });
</script>
