---
import Africa from "../assets/map/africa.png";
---

<section id="map-section" class="pt-20">
  <div class="mx-auto max-w-5xl px-5 text-[#141392] lg:px-0">
    <h3
      class="mb-0 text-center text-3xl font-semibold lg:mb-12 lg:text-left lg:text-5xl"
    >
      We strengthen feminist causes <br class="hidden lg:inline" /> around the world
    </h3>
    <div>
      <div class="grid gap-10 lg:grid-cols-2">
        <div
          id="image"
          class="relative hidden aspect-[1] self-start overflow-hidden rounded-2xl bg-[pink] lg:block lg:aspect-[9/10]"
        >
          <img class="absolute h-full w-full" src={Africa.src} alt="" />
          <img
            class="absolute h-full w-full object-cover"
            src="https://placehold.co/400x600"
            alt=""
          />
          <img
            class="absolute h-full w-full object-cover"
            src="https://placehold.co/400x605"
            alt=""
          />
          <img
            class="absolute h-full w-full object-cover"
            src="https://placehold.co/400x601"
            alt=""
          />
          <img
            class="absolute h-full w-full object-cover"
            src="https://placehold.co/400x602"
            alt=""
          />
          <img
            class="absolute h-full w-full object-cover"
            src="https://placehold.co/400x603"
            alt=""
          />
        </div>
        <div class="flex flex-col py-4 text-[#141392]">
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#E91E78"
            data-image={Africa.src}
          >
            <div
              class="mb-6 overflow-hidden rounded-3xl bg-[#E91E78] lg:hidden"
            >
              <img src={Africa.src} alt="" />
            </div>
            <h4
              class="mb-5 text-3xl font-bold uppercase text-[#E91E78] lg:mb-8 lg:text-4xl"
            >
              Africa & <br class="hidden lg:inline" /> West Asia
            </h4>
            <p class="mb-2">
              Mama Cash provided €23.8 million to feminist movements in 44
              countries across Africa and West Asia.
            </p>
            <p class="mb-2">
              Our grantee partners propelled social change in many fronts, like
              expanding legal abortion rights in Africa through the
              implementation of the 2003 Maputo Protocol  — Protocol to the
              African Chapter of Human and Peoples’ Rights on the Rights of
              Women in Africa.
            </p>
            <p>
              Among the hundreds of organisations supported in the region, <strong
                >Mauvan Liberation Fam</strong
              >, in Mauritius, stands out for launching a campaign that played a
              key role in decriminalising abortion in parts of the country in
              2012.
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>€23.8</strong> million</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>56 </strong> countries</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#1FAAAC"
            data-image="https://placehold.co/400x600"
          >
            <h4 class="mb-8 text-4xl font-bold uppercase text-[#E91E78]">
              Africa & <br /> West Asia
            </h4>
            <p class="mb-2">
              Mama Cash provided €23.8 million to feminist movements in 44
              countries across Africa and West Asia.
            </p>
            <p class="mb-2">
              Our grantee partners propelled social change in many fronts, like
              expanding legal abortion rights in Africa through the
              implementation of the 2003 Maputo Protocol  — Protocol to the
              African Chapter of Human and Peoples’ Rights on the Rights of
              Women in Africa.
            </p>
            <p>
              Among the hundreds of organisations supported in the region, <strong
                >Mauvan Liberation Fam</strong
              >, in Mauritius, stands out for launching a campaign that played a
              key role in decriminalising abortion in parts of the country in
              2012.
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>€23.8</strong> million</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>56 </strong> countries</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#FDB813"
            data-image="https://placehold.co/400x600"
          >
            <h4 class="mb-8 text-4xl font-bold uppercase text-[#E91E78]">
              Africa & <br /> West Asia
            </h4>
            <p class="mb-2">
              Mama Cash provided €23.8 million to feminist movements in 44
              countries across Africa and West Asia.
            </p>
            <p class="mb-2">
              Our grantee partners propelled social change in many fronts, like
              expanding legal abortion rights in Africa through the
              implementation of the 2003 Maputo Protocol  — Protocol to the
              African Chapter of Human and Peoples’ Rights on the Rights of
              Women in Africa.
            </p>
            <p>
              Among the hundreds of organisations supported in the region, <strong
                >Mauvan Liberation Fam</strong
              >, in Mauritius, stands out for launching a campaign that played a
              key role in decriminalising abortion in parts of the country in
              2012.
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>€23.8</strong> million</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>56 </strong> countries</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#141392"
            data-image="https://placehold.co/400x600"
          >
            <h4 class="mb-8 text-4xl font-bold uppercase text-[#E91E78]">
              Africa & <br /> West Asia
            </h4>
            <p class="mb-2">
              Mama Cash provided €23.8 million to feminist movements in 44
              countries across Africa and West Asia.
            </p>
            <p class="mb-2">
              Our grantee partners propelled social change in many fronts, like
              expanding legal abortion rights in Africa through the
              implementation of the 2003 Maputo Protocol  — Protocol to the
              African Chapter of Human and Peoples’ Rights on the Rights of
              Women in Africa.
            </p>
            <p>
              Among the hundreds of organisations supported in the region, <strong
                >Mauvan Liberation Fam</strong
              >, in Mauritius, stands out for launching a campaign that played a
              key role in decriminalising abortion in parts of the country in
              2012.
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>€23.8</strong> million</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>56 </strong> countries</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#E91E78"
            data-image="https://placehold.co/400x600"
          >
            <h4 class="mb-8 text-4xl font-bold uppercase text-[#E91E78]">
              Africa & <br /> West Asia
            </h4>
            <p class="mb-2">
              Mama Cash provided €23.8 million to feminist movements in 44
              countries across Africa and West Asia.
            </p>
            <p class="mb-2">
              Our grantee partners propelled social change in many fronts, like
              expanding legal abortion rights in Africa through the
              implementation of the 2003 Maputo Protocol  — Protocol to the
              African Chapter of Human and Peoples’ Rights on the Rights of
              Women in Africa.
            </p>
            <p>
              Among the hundreds of organisations supported in the region, <strong
                >Mauvan Liberation Fam</strong
              >, in Mauritius, stands out for launching a campaign that played a
              key role in decriminalising abortion in parts of the country in
              2012.
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>€23.8</strong> million</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>56 </strong> countries</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
          <div
            class="region flex flex-col pt-20 text-[#141392] first:pt-5"
            data-color="#1FAAAC"
            data-image="https://placehold.co/400x600"
          >
            <h4 class="mb-8 text-4xl font-bold uppercase text-[#E91E78]">
              Africa & <br /> West Asia
            </h4>
            <p class="mb-2">
              Mama Cash provided €23.8 million to feminist movements in 44
              countries across Africa and West Asia.
            </p>
            <p class="mb-2">
              Our grantee partners propelled social change in many fronts, like
              expanding legal abortion rights in Africa through the
              implementation of the 2003 Maputo Protocol  — Protocol to the
              African Chapter of Human and Peoples’ Rights on the Rights of
              Women in Africa.
            </p>
            <p>
              Among the hundreds of organisations supported in the region, <strong
                >Mauvan Liberation Fam</strong
              >, in Mauritius, stands out for launching a campaign that played a
              key role in decriminalising abortion in parts of the country in
              2012.
            </p>
            <div class="mt-10 h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>€23.8</strong> million</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
            <span class="my-5 text-3xl"><strong>56 </strong> countries</span>
            <div class="h-[1px] w-full bg-[#141392] bg-opacity-25"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const container = document.getElementById("map-section");
  const image = container.querySelector("#image");
  const images = image.querySelectorAll("img");
  const regions = container.querySelectorAll(".region");

  let mm = gsap.matchMedia();

  mm.add("(min-width: 1024px)", () => {
    let regionsHeight = 0;
    regions.forEach((region) => {
      regionsHeight += region.clientHeight;
    });

    ScrollTrigger.create({
      trigger: image,
      start: "top 10%",
      end: () => `+=${regionsHeight}px 90%`,
      pin: true,
    });

    gsap.utils.toArray(regions).forEach((e: HTMLElement, index) => {
      const color = e.dataset.color;
      ScrollTrigger.create({
        trigger: e,
        start: "top 25%",
        // markers: true,
        onEnter: () => {
          gsap.to(image, {
            backgroundColor: color,
          });
          gsap.utils.toArray(images).forEach((img: HTMLImageElement, i) => {
            gsap.to(img, {
              opacity: i == index ? 1 : 0,
            });
          });
        },
        onEnterBack: () => {
          gsap.to(image, {
            backgroundColor: color,
          });
          gsap.utils.toArray(images).forEach((img: HTMLImageElement, i) => {
            gsap.to(img, {
              opacity: i == index ? 1 : 0,
            });
          });
        },
        scrub: 1,
      });
    });
  });
</script>
