---
import { Image } from "astro:assets";
import Woman from "../assets/woman.png";
---

<section class="mt-8">
  <div
    class="relative mx-auto grid max-w-5xl grid-cols-2 gap-16 rounded-xl bg-[#1FAAAC] px-10 pt-8"
  >
    <div class="-mb-11 grid grid-cols-2 grid-rows-2 gap-10">
      <Image
        src={Woman}
        alt="people"
        class="row-span-2 aspect-[9/16] self-center rounded-xl object-cover"
      />
      <Image
        src={Woman}
        alt="people"
        class="aspect-[14/16] self-end rounded-xl object-cover"
      />
      <Image
        src={Woman}
        alt="people"
        class="aspect-[12/16] rounded-xl object-cover"
      />
    </div>
    <div class="pt-16">
      <h3 class="font-display text-3xl font-medium">
        Since 1983, Mama Cash has supported transformative change led by women,
        girls, and trans and intersex activists worldwide.
      </h3>
      <p class="mt-10 font-display text-sm font-normal leading-6">
        Our 40 years of impact report “Change that lasts”, shines a light on how
        feminist movements worldwide leveraged funding and accompaniment from
        Mama Cash to change narratives, shift norms, secure rights, end
        impunity, increase inclusion, expand access, and bring about joy,
        healing, love, and liberation
      </p>
      <button
        class="mt-6 rounded-3xl bg-[#141392] px-8 py-3 font-body text-xs font-semibold uppercase text-white"
        >Download full report</button
      >
    </div>
  </div>
</section>
