---
import { Image } from "astro:assets";
import BackgroundNotebook from "../assets/quote/bg.png";
import Quote from "../assets/quote/quote.png";
import { t } from "i18next";
---

<section class="relative isolate mt-12 lg:mt-24">
  <svg
    class="absolute right-0 top-[25%] hidden w-[12%] lg:block"
    viewBox="0 0 274 833"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M37.5395 -538C37.5395 -532.109 42.3151 -527.333 48.2062 -527.333C54.0972 -527.333 58.8728 -532.109 58.8728 -538C58.8728 -543.891 54.0972 -548.667 48.2062 -548.667C42.3151 -548.667 37.5395 -543.891 37.5395 -538ZM134.703 121.5L133.601 119.831L134.703 121.5ZM872.681 1250.32C873.689 1250.78 874.873 1250.33 875.325 1249.32C875.777 1248.31 875.327 1247.13 874.319 1246.68L872.681 1250.32ZM47.6222 -536.087C161.774 -501.242 252.614 -461.505 317.563 -416.858C382.522 -372.204 421.377 -322.789 432.01 -268.63C442.637 -214.506 425.176 -155.139 376.393 -90.3455C327.6 -25.5394 247.606 44.5057 133.601 119.831L135.806 123.169C249.992 47.7235 330.407 -22.6168 379.588 -87.9396C428.779 -153.275 446.856 -213.78 435.936 -269.401C425.022 -324.987 385.242 -375.189 319.829 -420.154C254.407 -465.126 163.137 -505.008 48.7901 -539.913L47.6222 -536.087ZM133.601 119.831C77.3256 157.013 41.2717 200.293 22.0605 247.92C2.85129 295.541 0.547918 347.343 11.4929 401.463C33.3663 509.621 108.202 627.3 207.431 740.247C405.92 966.177 702.849 1174.1 872.681 1250.32L874.319 1246.68C705.035 1170.7 408.566 963.128 210.436 737.607C111.356 624.829 37.0778 507.794 15.4136 400.67C4.58977 347.149 6.91181 296.167 25.77 249.416C44.6262 202.67 80.0818 159.987 135.806 123.169L133.601 119.831Z"
      fill="#E91E78"></path>
  </svg>

  <Image
    class="absolute left-0 right-0 -z-10 mx-auto h-full object-cover"
    alt=""
    src={BackgroundNotebook}
  />

  <div
    class="font-display mx-auto flex w-full max-w-5xl flex-col items-center font-medium text-[#141392] lg:grid lg:grid-cols-[1fr_auto_1fr] lg:items-start"
  >
    <div
      class="mt-10 flex aspect-square h-24 items-center justify-center justify-self-start rounded-full bg-[hsl(0,0%,95%)] lg:ml-auto lg:mt-20"
    >
      <Image alt="" class="aspect-[68/45] w-3/5" src={Quote} />
    </div>

    <p
      class="mx-auto mt-10 max-w-[41ch] px-6 text-center text-2xl font-medium lg:mt-20 lg:text-4xl"
    >
      {t("testimonials.quotes.1.text")}
    </p>

    <h3
      class="col-start-2 mx-auto mt-9 text-center text-2xl font-semibold text-[#E91E78] lg:text-3xl"
    >
      {t("testimonials.quotes.1.attestant.name")}
    </h3>
    <p
      class="col-start-2 mx-auto mb-10 text-center font-medium uppercase lg:mb-20"
    >
      {t("testimonials.quotes.1.attestant.role")}
    </p>

    <div
      class="relative col-start-3 row-span-2 row-start-2 hidden aspect-square h-24 items-center justify-center justify-self-end rounded-full bg-[hsl(0,0%,95%)] lg:flex"
    >
      <Image class="aspect-[68/45] w-3/5 -scale-100" alt="" src={Quote} />
    </div>
  </div>
</section>
