---
import { Image } from "astro:assets";
import BackgroundNotebook from "../assets/quote/bg.png";
import Quote from "../assets/quote/red-quote.png";
---

<section class="relative isolate mt-24">
  <svg
    class="absolute hidden w-[10%] lg:block"
    viewBox="0 0 209 124"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1870.5 -1866C3422 -1450 20.0027 -524.5 -148.617 -257.5C-249.682 -97.4699 -133.734 -43.6944 205.384 108.5"
      stroke="#E91E78"
      stroke-width="4"
      stroke-linecap="round"></path>
  </svg>

  <Image
    class="absolute left-0 right-0 -z-10 mx-auto h-full object-cover"
    alt=""
    src={BackgroundNotebook}
  />
  <div
    class="font-display mx-auto flex w-full max-w-5xl flex-col items-center font-medium text-[#141392] lg:grid lg:grid-cols-[1fr_auto_1fr] lg:items-start"
  >
    <div
      class="relative mt-20 flex aspect-square h-24 items-center justify-center rounded-full bg-[hsl(0,0%,95%)] lg:ml-auto"
    >
      <Image alt="" class="aspect-[68/45] w-3/5" src={Quote} />
    </div>

    <p
      class="mx-auto mt-20 max-w-[40ch] px-6 text-center text-2xl font-medium lg:mt-20 lg:text-4xl"
    >
      I used to go marching and protesting before I became a parent and I wish I
      had more time to do activist work, but as a single working mom, I just
      can’t be on the frontlines all the time. That’s why I donate to Mama Cash,
      because I know they’re supporting the activists on the ground who are
      doing amazing things in their communities and it feels like I’m part of
      that by donating a small amount every month.
    </p>

    <h3
      class="col-start-2 mx-auto mt-9 text-center text-2xl font-semibold text-[#E91E78] lg:text-3xl"
    >
      Anonymous
    </h3>
    <p class="col-start-2 mx-auto mb-20 text-center font-medium uppercase">
      Mama Cash individual donor
    </p>

    <div
      class="col-start-3 row-span-2 row-start-2 hidden aspect-square h-24 items-center justify-center rounded-full bg-[hsl(0,0%,95%)] lg:flex"
    >
      <Image class="aspect-[68/45] w-3/5 -scale-100" alt="" src={Quote} />
    </div>
  </div>
</section>
