---
import { Image } from "astro:assets";
import TestimonyPicture1 from "../assets/testimony-1.png";
import TestimonyPicture2 from "../assets/testimony-2.png";
import TestimonyPicture3 from "../assets/testimony-3.png";

const testimonies: [ImageMetadata, string, string][] = [
  [
    TestimonyPicture1,
    "Ida LeBlanc",
    "National Union of Domestic Employees, Trinidad and Tobago",
  ],
  [TestimonyPicture2, "Koyel Ghosh", "Sapho for Equality, India"],
  [TestimonyPicture3, "Rajni Lallah", "Muvman Liberasyon Fam, Mauritius"],
];
---

<section
  id="testimonies"
  class="font-display relative mx-auto mb-12 mt-24 flex flex-col items-center text-[#141392]"
>
  <svg
    class="absolute right-0 top-[40%] hidden w-[10%] lg:block"
    viewBox="0 0 245 115"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M8.53948 16C8.53948 21.891 13.3151 26.6667 19.2062 26.6667C25.0972 26.6667 29.8728 21.891 29.8728 16C29.8728 10.109 25.0972 5.33333 19.2062 5.33333C13.3151 5.33333 8.53948 10.109 8.53948 16ZM105.703 675.5L104.601 673.831L105.703 675.5ZM843.681 1804.32C844.689 1804.78 845.873 1804.33 846.325 1803.32C846.777 1802.31 846.327 1801.13 845.319 1800.68L843.681 1804.32ZM18.6222 17.9129C132.774 52.7581 223.614 92.4953 288.563 137.142C353.522 181.796 392.377 231.211 403.01 285.37C413.637 339.494 396.176 398.861 347.393 463.654C298.6 528.461 218.606 598.506 104.601 673.831L106.806 677.169C220.992 601.724 301.407 531.383 350.588 466.06C399.779 400.725 417.856 340.22 406.936 284.599C396.022 229.013 356.242 178.811 290.829 133.846C225.407 88.8745 134.137 48.9919 19.7901 14.0871L18.6222 17.9129ZM104.601 673.831C48.3256 711.013 12.2717 754.293 -6.93954 801.92C-26.1487 849.541 -28.4521 901.343 -17.5071 955.463C4.36634 1063.62 79.2023 1181.3 178.431 1294.25C376.92 1520.18 673.849 1728.1 843.681 1804.32L845.319 1800.68C676.035 1724.7 379.566 1517.13 181.436 1291.61C82.3563 1178.83 8.07779 1061.79 -13.5864 954.67C-24.4102 901.149 -22.0882 850.167 -3.22996 803.416C15.6262 756.67 51.0818 713.987 106.806 677.169L104.601 673.831Z"
      fill="#E91E78"></path>
  </svg>

  <h2
    class="max-w-5xl px-5 text-center text-4xl font-semibold lg:px-0 lg:text-left lg:text-5xl"
  >
    Shared Power, Global Impact
  </h2>
  <p class="mt-10 max-w-prose px-5 text-center leading-tight lg:px-0">
    Over 40 years, Mama Cash has partnered with thousands of feminist activists,
    to channel over €91 million in direct grants to movements, their leaders and
    self-led groups driving lasting change.
  </p>
  <p class="mt-2 max-w-prose px-5 text-center leading-tight lg:px-0">
    Our grantee-partners are the feminist heroes securing change, preserving
    love and fighting for justice… that lasts!
  </p>

  <div class="mt-20 max-w-5xl px-8 lg:grid lg:grid-cols-3 lg:gap-[60px]">
    {
      testimonies.map(([img, name, role]) => (
        <article class="mb-20 flex flex-col items-center last:mb-0 lg:mb-0">
          <Image alt="" src={img} />
          <h3 class="mt-8 text-3xl font-semibold text-[#E91E78]">{name}</h3>
          <p
            class="mt-1 w-full text-center text-sm"
            style={`max-width: ${(role.length * 3) / 4}ch`}
          >
            {role}
          </p>

          <a
            class="mt-4 flex items-center gap-4 rounded-full bg-[#FDB813] py-[6px] pl-4 pr-[4px] text-xs font-semibold text-black"
            href="#"
          >
            Watch testimony
            <svg
              width="37"
              height="36"
              viewBox="0 0 37 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="18.207"
                cy="18"
                r="17"
                stroke="black"
                stroke-width="2"
              />
              <path
                d="M9 18H25"
                stroke="black"
                stroke-width="2"
                stroke-miterlimit="10"
              />
              <path
                d="M17.5 10.5L26.5 18L17.5 26"
                stroke="black"
                stroke-width="2"
                stroke-miterlimit="10"
              />
            </svg>
          </a>
        </article>
      ))
    }
  </div>
</section>
