---

---

<section id="support" class="relative w-full lg:pt-10">
    <div class="mx-auto mb-10 max-w-5xl lg:mb-16">
        <h3
            class="text-center text-3xl font-semibold text-[#141392] lg:text-5xl"
        >
            We back feminists <br /> fighting for change
        </h3>
    </div>
    <video
        muted
        id="videoElem"
        class="mx-auto aspect-video max-w-full rounded-3xl object-contain px-5 lg:max-w-5xl lg:px-0"
        src="/videoplayback.webm"></video>
</section>

<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    const video = document.getElementById("videoElem") as HTMLVideoElement;

    video.addEventListener("loadeddata", () => {
        ScrollTrigger.refresh(true);
    });

    gsap.to(video, {
        scrollTrigger: {
            refreshPriority: 0,
            trigger: "#video-section",
            start: "top 40%",
        },
        onComplete: () => {
            video.play().catch(() => {
                video.controls = true;
            });
        },
    });
</script>
