---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/900.css";

import SpeedInsights from "@vercel/speed-insights/astro";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title="MamaCash - 40 years of impact"
      description={`Since 1983, we've partnered with millions of women, girls, trans, and intersex people to redefine norms, uphold rights, foster inclusion, expand access, and inspire joy, healing, and liberation.`}
      twitter={{
        site: "https://fortyyearsimpact.mamacash.org/",
        title: "MamaCash - 40 years of impact",
        image: "/cover.png",
        card: "summary_large_image",
      }}
      openGraph={{
        optional: {
          description: `Since 1983, we've partnered with millions of women, girls, trans, and intersex people to redefine norms, uphold rights, foster inclusion, expand access, and inspire joy, healing, and liberation.`,
        },
        basic: {
          title: "MamaCash - 40 years of impact",
          image: "/cover.png",
          type: "Website",
          url: "https://fortyyearsimpact.mamacash.org/",
        },
      }}
    />
    <meta charset="UTF-8" />
    <!-- <meta name="description" content="Astro description" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#fafafa" />
    <meta name="theme-color" content="#ffffff" />

    <SpeedInsights />
  </head>
  <body class="font-body">
    <div
      id="overlay"
      class="fixed left-0 top-0 z-[10000] h-screen w-full bg-[#050038]"
    >
    </div>
    <Header />

    <div id="smooth-wrapper">
      <div id="smooth-content">
        <slot />
      </div>
    </div>
    <Footer />

    <style is:global>
      /* html,
      body {
        cursor: url("/cursor.svg"), auto;
      } */

      html,
      body,
      header .bg-noise {
        background-position:
          0px 0px,
          0px 0px,
          0px 0px;
        background-image: linear-gradient(
            180deg,
            hsla(0, 0%, 95.3%, 0.94),
            hsla(0, 0%, 95.3%, 0.94)
          ),
          url("/635934446d2865655d814bb0_noise.webp"),
          linear-gradient(180deg, #f3f3f3, #f3f3f3);
        background-size: auto, 128px, auto;
        overflow-x: hidden;
      }

      header .bg-noise {
        @apply absolute h-full w-full;
      }

      .line-h1 {
        @apply h-auto overflow-hidden lg:h-[6.5rem];
      }
      .line-h2 {
        @apply h-auto overflow-hidden lg:h-[5rem];
      }
      .line-h3 {
        @apply h-auto overflow-hidden lg:h-[3.5rem];
      }
    </style>
  </body>
</html>
